/* Warning Tooltip Styles */
.react-fields-keeper-warning-inline {
    position: absolute;
    top: -80px;
    left: 8px;
    right: 8px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 3px 10px 3px 3px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    min-width: 150px;
    max-width: 100%;
    font-size: 14px;
    color: #856404;
    word-wrap: break-word;
}

.react-fields-keeper-warning-tooltip {
    display: flex;
    align-items: center;
    gap: 8px;
    min-height: 20px;
    flex-wrap: wrap;
}

.custom-component-warning-tooltip {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    min-height: 20px;
}

.tooltip-box {
  position: relative;
  border-radius: 4px;
  padding: 3px 10px 3px 3px;
  width: 180px;
  max-width: 300px;
  font-family: Segoe UI, sans-serif;
  font-size: 13px;
  color: #323130;
  line-height: 1.4;
  max-height: 80px;
  overflow: scroll;
}

.tooltip-arrow {
  position: absolute;
  bottom: -8px;
  left: 85px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #ccc;
}

.tooltip-arrow::after {
  content: '';
  position: absolute;
  left: -7px;
  top: -9px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #fff;
}

