@bgHoverColor: #f3f3f3;

.react-fields-keeper-mapping-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    width: 100%;
    font-size: 12px;

    :hover {
        .react-fields-keeper-edit {
            visibility: visible;
        }
    }
    .react-fields-keeper-edit {
        cursor: pointer;
        visibility: hidden;
    }
    .react-fields-keeper-mapping-content-title {
        display: flex;
        align-items: center;
        gap: 5px;
        white-space: nowrap;
        .link-label {
            color: #2e7fec;
            cursor: pointer;
            font-weight: 600;
        }
        .icons {
            padding: 5px;
            cursor: pointer;

            &:hover {
                background: #80808030;
                border-radius: 2px;
            }
        }
        .ms-Icon--ChromeClose {
            font-size: 10px;
        }
    }

    .react-fields-keeper-mapping-content-input {
        width: 100%;
        overflow: hidden;
        border: 1px dashed gray;
        border-radius: 2px;
        padding: 6px 5px;
        text-align: left;
        white-space: nowrap;
        display: flex;
        max-width: 100%;
        flex-direction: column;
        cursor: pointer;

        &::-webkit-scrollbar {
            display: none;
        }

        &.react-fields-keeper-content-input-horizontal {
            flex-direction: row;
            overflow: auto;
            width: 100%;
            max-width: 100%;

            &.react-fields-keeper-content-input-horizontal-wrap {
                flex-wrap: wrap;
            }

            .react-fields-keeper-mapping-content-input-filled {
                &.react-fields-keeper-mapping-content-input-filled-offset {
                    margin-left: unset;
                    margin-right: unset;
                    width: auto;
                }
            }
        }

        &.react-fields-keeper-mapping-content-input-active {
            border-color: black;
            background-color: rgb(240, 240, 240);
        }

        .react-fields-keeper-mapping-content-input-placeholder {
            padding: 0px 4px;
            min-height: 24px;
            display: flex;
            align-items: center;
            pointer-events: none;

            &.center-align {
                justify-content: center;
            }
        }

        &.react-fields-keeper-mapping-content-multi-input {
            padding-bottom: 10px;
        }

        .react-fields-keeper-mapping-content-input-filled-group {
            width: auto;
            height: auto;
            display: flex;
            flex-direction: column;
            background: #dbdbdb;
            padding: 3px 2px;
            position: relative;
            margin-bottom: 3px;

            &.group-wrap {
                flex-wrap: wrap;
            }

            &::after {
                content: '';
                width: 100%;
                height: calc(100% + 5px);
                position: absolute;
                top: 50%;
                left: -1px;
                transform: translateY(-50%);
                z-index: -1;
            }

            &.react-fields-keeper-mapping-content-input-filled-group-horizontal {
                flex-direction: row;
                padding: 2px 3px;
                align-items: center;

                &::after {
                    width: calc(100% + 5px);
                    height: 100%;
                    top: -1px;
                    left: -1px;
                }
            }
        }

        .react-fields-keeper-mapping-content-input-filled {
            background: #dbdbdb;
            width: 100%;
            height: 24px;
            padding: 0 5px 0 8px;
            white-space: nowrap;
            border-radius: 2px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
            position: relative;
            gap: 3px;

            .react-fields-keeper-mapping-column-content-action {
                margin-left: auto;
            }

            &:hover {
                background-color: #d8d8d8;

                &.react-fields-keeper-mapping-content-input-filled-group-header {
                    &::after {
                        background-color: #d8d8d8;
                    }
                }
            }

            &.react-fields-keeper-mapping-content-input-filled-custom-renderer {
                height: unset;
                display: unset;
                background-color: unset;
                padding: unset;
            }

            &.react-fields-keeper-mapping-content-input-filled-disabled {
                pointer-events: none;
                cursor: not-allowed;
                opacity: 0.4;
            }

            &.react-fields-keeper-mapping-content-input-filled-offset {
                margin-left: 4px;
                width: calc(100% - 6px);
                border: 1px solid rgb(178, 178, 178);
            }

            &.react-fields-keeper-context-menu-active {
                background-color: #f5f5f5;
            }

            &.react-fields-keeper-mapping-content-input-filled-bottom-offset {
                margin-bottom: 5px;
            }

            &.react-fields-keeper-mapping-content-input-filled-group-header {
                .react-fields-keeper-mapping-content-input-filled-close {
                    margin-left: unset;
                }
            }

            .react-fields-keeper-mapping-content-input-filled-value {
                width: min-content;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .react-fields-keeper-mapping-content-action-buttons {
                display: flex;
                flex-direction: row;
                gap: 3px;
                color: var(--bucket-icon-color);

                .react-fields-keeper-mapping-content-action-suffixNode {
                    margin-left: auto;
                    height: 15px;
                    width: 15px;
                    border-radius: 2px;
                    display: grid;
                    place-items: center;
                    cursor: pointer;
                    user-select: none;
                    i {
                        font-size: 10px !important;
                    }
                    &:hover {
                        background-color: #e4e4e4;
                    }
                    color: var(--bucket-icon-color);
                }
            }

            .react-fields-keeper-mapping-content-input-filled-close {
                margin-left: auto;
                height: 15px;
                width: 15px;
                border-radius: 2px;
                display: grid;
                place-items: center;
                cursor: pointer;
                user-select: none;
                i {
                    font-size: 7px !important;
                }
                &:hover {
                    background-color: #e4e4e4;
                }
                color: var(--bucket-accent-color);
            }
        }
    }
}

.react-fields-keeper-tooltip-wrapper {
    width: auto;
    height: auto;
    padding-bottom: 3px;

    &.react-fields-keeper-tooltip-disabled-pointer {
        cursor: not-allowed;
    }
}

.react-fields-keeper-mapping-column-content-action {
    width: 15px;
    height: 15px;
    min-width: 12px;
    display: grid;
    place-items: center;

    &:hover {
        background-color: #e4e4e4;
        scale: 1.1;
    }

    &:active {
        scale: 1;
    }

    i {
        font-size: 8px !important;
    }

    color: var(--bucket-icon-color);
}

.react-fields-keeper-mapping-container {
    display: grid;
    grid-template-rows: auto auto 1fr;
    max-height: 100%;
    width: 100%;
    overflow: hidden;
    font-size: 12px;

    .react-fields-keeper-mapping-subtitle {
        margin-bottom: 5px;
    }

    .react-fields-keeper-mapping-content-scrollable-container {
        width: 100%;
        height: 100%;
        max-height: 100%;
        overflow: auto;
        display: flex;
        flex-direction: column;
        padding-right: 5px;
        margin-top: 2px;

        .folder-scope-wrapper {
            .folder-scope-label {
                cursor: pointer;
                display: flex;
                width: 100%;
                max-width: 100%;
                justify-content: center;
                grid-template-columns: auto 1fr auto;
                overflow: hidden;
                place-items: center;

                padding: 5px 3px;
                border-radius: 2px;
                user-select: none;
                height: 24px;

                &:hover {
                    background-color: @bgHoverColor;
                }

                .folder-scope-label-icon {
                    display: grid;
                    place-items: center;
                    padding-right: 3px;
                    padding-left: 3px;
                    width: 30px;
                    min-width: 25px;

                    .folder-scope-label-table-icon {
                        fill: var(--bucket-icon-color);
                        color: var(--bucket-icon-color);
                    }
                }

                .folder-scope-label-text {
                    width: 100%;
                    max-width: 100%;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    text-align: left;

                    mark.search-highlight {
                        background-color: var(--bucket-accent-color, #007bff);
                        color: var(--highlight-element-color, #ffffff);
                    }
                }

                .folder-scope-label-collapse-icon {
                    margin-left: auto;
                    color: var(--bucket-icon-color);
                    fill: var(--bucket-icon-color);
                }
            }
            .folder-scope-items {
                margin-left: 13px;
            }

            .folder-scope-label-suffix {
                margin-right: 5px;
            }
        }
    }

    .react-fields-keeper-mapping-column-content {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 5px;
        align-items: center;
        cursor: pointer;
        padding: 6px 4px 6px 14px;
        user-select: none;
        position: relative;
        height: 24px;

        &:hover {
            background-color: @bgHoverColor;
            &.react-fields-keeper-mapping-column-content-group-header {
                &::after {
                    background-color: @bgHoverColor;
                }
            }
        }

        &.react-fields-keeper-mapping-column-content-group-header {
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: calc((1px * var(--root-bucket-group-items-count)));

                border-radius: 2px;
                z-index: 0;
                top: -1px; // to avoid scroll that caused for hierarchical fields
            }
        }

        &.react-fields-keeper-master-group-header-offset {
            padding-left: 3px !important;
        }

        &.react-fields-keeper-mapping-column-content-offset {
            padding-left: 25px;
        }

        &.react-fields-keeper-mapping-column-content-offset-with-master {
            padding-left: 45px !important;
        }

        &.react-fields-keeper-mapping-column-content-offset-without-checkbox {
            padding-left: 12px;
        }

        &.react-fields-keeper-mapping-column-content-disabled {
            pointer-events: none;
            cursor: not-allowed;
            opacity: 0.4;
        }

        .react-fields-keeper-mapping-column-content-checkbox {
            display: block;
            height: 100%;
            display: grid;
            place-items: center;
            position: relative;
            z-index: 1;

            input {
                cursor: pointer;
            }
        }

        .react-fields-keeper-mapping-column-content-wrapper {
            display: grid;
            justify-content: center;
            place-items: center;
            width: 100%;
            max-width: 100%;
            overflow: hidden;
            grid-template-columns: auto 1fr auto auto;
            position: relative;

            .react-fields-keeper-mapping-column-content-prefix {
                height: 100%;
                display: flex;
                place-items: center;
                // width will be passed from the client
            }

            .react-fields-keeper-mapping-column-content-label {
                font-weight: normal;
                width: 100%;
                max-width: 100%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                text-align: left;
            }

            .react-fields-keeper-mapping-column-content-suffix {
                height: 100%;
            }
        }
    }

    .react-fields-keeper-mapping-no-search-items-found {
        width: 100%;
        text-align: center;
        display: grid;
        place-items: center;
        font-weight: normal;

        padding: 20px 0px;

        .react-fields-keeper-mapping-clear-search-link {
            margin-top: 5px;
            border-bottom: 1px solid var(--bucket-accent-color);
            color: var(--bucket-accent-color);
            width: min-content;
            white-space: nowrap;
            cursor: pointer;

            &:hover {
                filter: brightness(80%);
            }
        }
    }

    mark.search-highlight {
        background-color: var(--bucket-accent-color, #007bff);
        color: var(--highlight-element-color, #ffffff);
    }
}

.react-fields-keeper-mapping-column-searcher {
    width: 100%;
    overflow: hidden;
    position: relative;
    font-size: 12px;

    .react-fields-keeper-mapping-column-searcher-input {
        width: 100%;
        padding: 4px 5px;
        outline: none;
        padding-right: 1.8em;
        outline: none;
        border: none;
        border-bottom: 1px solid rgb(168, 168, 168);
        font-size: inherit;

        padding-left: 1.8em;

        &:focus {
            border-bottom-color: rgb(57, 57, 57);
        }
    }

    .react-fields-keeper-mapping-column-searcher-prefix {
        position: absolute;
        top: 50%;
        left: 3px;
        transform: translateY(-50%);

        span {
            font-size: 1em !important;
        }

        color: var(--bucket-icon-color);
    }

    .react-fields-keeper-mapping-column-searcher-clear {
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        width: 18px;
        height: 18px;
        border-radius: 2px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--bucket-icon-color);

        span {
            font-size: 8px !important;
        }

        &:hover {
            background-color: #c7c7c7;
        }

        &:active {
            transform: translateY(-50%) scale(0.9);
        }
    }
}

.react-fields-keeper-mapping-content-disabled {
    opacity: 0.6;
    pointer-events: none;
}

.react-fields-keeper-mapping-column-content-sample-suffix-node {
    display: flex;
    flex-direction: row;
    gap: 3px;
    .react-fields-keeper-mapping-column-content-sample-suffix-node-button {
        height: 15px;
        width: 15px;
        border-radius: 2px;
        display: grid;
        place-items: center;
        cursor: pointer;
        user-select: none;

        &:hover {
            background-color: #e4e4e4;
        }
    }
}

.react-fields-keeper-mapping-content-action-suffixNode {
    i {
        font-size: 8px;
    }
}

.folder-scope-label-icon {
    position: relative;

    .check-mark-overlay {
        position: absolute;
        top: 90%;
        left: 65%;
        transform: translate(-50%, -50%);
        width: 12px;
        height: 12px;
        fill: var(--bucket-accent-color);
    }
}

.react-fields-keeper-mapping-column-content-checkbox {
    .react-fields-keeper-checkbox {
        accent-color: var(--bucket-accent-color);
    }
}

.react-fields-keeper-mapping-column-content-prefix {
    .folder-scope-label-measure-icon {
        fill: var(--bucket-icon-color);
        color: var(--bucket-icon-color);
    }
}

.react-fields-keeper-mapping-content-input-edit {
    border: none;
    outline: none;
    box-shadow: none;
    padding: 2px;
    margin: 0;
    font: inherit;
    color: inherit;
    width: 100%;
    border-radius: 3px;
}

.react-fields-keeper-mapping-content-input-edit:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

.tilt-left {
    transform: rotate(-90deg);
}

.react-fields-keeper-root-mapping-content-action-context-menu {
    position: absolute;
    right: 0;
}

.react-fields-keeper-bucket-mapping-content-action-context-menu {
    position: absolute;
    right: 0;
}

// icons
@font-face {
    font-family: 'FabricMDL2Icons_fields_keeper';
    src: url('../assets/fabric-icons-ee938fa0.woff') format('woff');
}

.fk-ms-Icon {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-family: 'FabricMDL2Icons_fields_keeper';
    font-style: normal;
    font-weight: normal;
}

.fk-ms-Icon--ChevronDown:before {
    content: '\E70D';
}
.fk-ms-Icon--ChevronRight:before {
    content: '\E76C';
}
.fk-ms-Icon--ChromeClose:before {
    content: '\E8BB';
}
.fk-ms-Icon--GripperDotsVertical:before {
    content: '\F772';
}
.fk-ms-Icon--Info12:before {
    content: '\E55A';
}
.fk-ms-Icon--Search:before {
    content: '\E721';
}
.fk-ms-Icon--Delete:before {
    content: '\E74D';
}
.fk-ms-Icon--Edit:before {
    content: '\E70F';
}
.fk-ms-Icon--CheckMark:before {
    content: '\E73E';
}
.fk-ms-Icon--Org:before {
    content: '\ECA6';
}
.fk-ms-Icon--MoreVertical:before {
    content: '\F2BC';
}
.fk-ms-Icon--Globe:before {
    content: '\E774';
}
.fk-ms-Icon--Calculator:before {
    content: '\E8EF';
}
.fk-ms-Icon--CalculatorGroup:before {
    content: '\E462';
}
.fk-ms-Icon--Calendar:before {
    content: '\E787';
}
.fk-ms-Icon--ContactCard:before {
    content: '\EEBD';
}
